<template>
  <Dialog :key="$route.fullPath" v-model:visible="this.$store.state.createRoomDialogVisible" closable close-on-escape
          modal>
    <template #header>
      <div>Создание комнаты</div>
    </template>

    <h5>Номер отеля</h5>
    <span class="p-input-icon-left">
            <i class="pi pi-user" style="position: relative; left: 25px"/>
            <InputText v-model="ID_HOUSING" aria-describedby="name-help" placeholder="Имя"
                       type="text"/><br>
            <small v-if="this.$store.state.validation.ID_HOUSING" id="name-help" class="p-error">
              {{ this.$store.state.validation.ID_HOUSING }}
            </small>
    </span>
    <h5>Номер комнаты</h5>
    <span class="p-input-icon-left">
            <i class="pi pi-lock" style="position: relative; left: 25px"/>
            <InputText v-model="NumRoom" aria-describedby="description-help" placeholder="Комментарий"
                       type="text"/>
            <br>
            <small v-if="this.$store.state.validation.NumRoom" id="description-help" class="p-error">
              {{ this.$store.state.validation.NumRoom }}
            </small>
    </span>
    <h5>Количество мест</h5>
    <span class="p-field p-col-12 p-md-4">
            <InputText v-model="NumOfSeats" type="text" style="position: relative; left: 18px"/>
      <br>
            <small v-if="this.$store.state.validation.NumOfSeats" id="birthday-help" class="p-error">
              {{ this.$store.state.validation.NumOfSeats }}
            </small>
    </span>
    <h5>Цена</h5>
    <span class="p-field p-col-12 p-md-4">
            <InputText v-model="Cost" type="text" style="position: relative; left: 18px"/>
      <br>
            <small v-if="this.$store.state.validation.Cost" id="cost-help" class="p-error">
              {{ this.$store.state.validation.Cost }}
            </small>
    </span>

    <template #footer>
      <Button autofocus icon="pi pi-check" label="Создать" @click="create"/>
    </template>

  </Dialog>
</template>

<script>

import Dialog from 'primevue/dialog';
import Button from 'primevue/button';
import InputText from 'primevue/inputtext';
// import Calendar from 'primevue/calendar';
// import RadioButton from 'primevue/radiobutton';
// import moment from 'moment';

export default {
  name: "CreateRoom",
  components: {Dialog, InputText, Button},
  data() {
    return {
      ID_HOUSING: '',
      NumRoom: '',
      NumOfSeats: '',
      Cost: '',
      visible: false,
      modal: true,
    }
  },
  methods:
      {
        create() {
          this.$store.dispatch('createRoom', {
            ID_HOUSING: this.ID_HOUSING,
            NumRoom: this.NumRoom,
            NumOfSeats: this.NumOfSeats,
            Cost: this.Cost
          });
        },

      }
}
</script>

<style scoped>

</style>