<template>
  <h1 class="p-text-center">Комнаты</h1>
  <div v-if="this.$store.state.dataPreLoading" style="text-align: center">
    <ProgressSpinner strokeWidth="4" style="width:50px;height:50px"/>
  </div>
  <div v-else>
    <ConfirmDialog></ConfirmDialog>
    <DataView :layout="layout" :value="rooms">
      <template #grid="slotProps">
        <div class="p-col-12 p-md-3" style="padding: .5em">
          <div class="product-grid-item card">
            <Card>
              <template #header/>
              <template #title>
                {{ slotProps.data.NumRoom }}
              </template>
              <template #content>
                <!-- Ссылки на локальные изображения потому что временно не доступно S3 хранилище -->
                <div v-if="slotProps.data.ID_HOUSING==1">
                  <img :alt="slotProps.data.ID_HOUSING" src="..\..\src\assets\hotel1.jpeg" style="width: 100%"/>
                </div>
                <div v-else>
                  <img :alt="slotProps.data.ID_HOUSING" src="..\..\src\assets\hotel2.jpeg" style="width: 100%"/>
                </div>
                <div class="p-mt-4" style="text-align: center">
                  Количество мест: {{ slotProps.data.NumOfSeats }}
                </div>
                <div class="p-mt-4" style="text-align: center">
                  Цена: {{ slotProps.data.Cost }}
                </div>
              </template>
              <template #footer>

                <Button v-tooltip.bottom="'Удалить комнату'" class="p-button-danger p-button-rounded" icon="pi pi-trash"
                        @click="delRoom(slotProps.data.id)"/>
                <Button v-tooltip.bottom="'Редактировать комнату'" class="p-button-primary p-button-rounded"
                        icon="pi pi-cog"
                        style="margin-left: .5em"/>

              </template>
            </Card>
          </div>
        </div>
      </template>
    </DataView>
  </div>
  <Paginator v-model:rows="rows" :rowsPerPageOptions=[2,5,10,50]
             :totalRecords="total" @page="onPage($event)"></Paginator>
</template>
<script>

import '../state.js'
import router from "../router";
import Paginator from 'primevue/paginator';
import DataView from 'primevue/dataview';
import Card from 'primevue/card';
import ProgressSpinner from 'primevue/progressspinner';
import ConfirmDialog from 'primevue/confirmdialog';

export default {
  name: "Room",
  components: {Paginator, DataView, ConfirmDialog, Card, ProgressSpinner},
  data() {
    return {
      rows: 5,
      layout: 'grid'
    }
  },
  methods: {
    onPage(event) {
      this.$store.state.pager.perPage = event.rows;
      this.$store.commit("setPage", event.page + 1);
      console.log(event.page);
      this.$store.dispatch('getRoom');
    },
    delRoom(id) {
      this.$confirm.require({
        message: 'Вы действительно хотите удалить комнату(данное действие необратимо)?',
        header: 'Удаление комнату',
        icon: 'pi pi-exclamation-triangle',
        accept: () => {
          this.$store.dispatch('deleteRoom', {id})
        },
        reject: () => {
          //callback to execute when user rejects the action
        }
      });
    },
  },
  computed: {
    rooms: function () {
      return this.$store.state.room;
    },

    total:
        function () {
          return this.$store.state.pager.total;
        }
  },

  mounted() {
    if (this.$store.state.loggedIn) {
      this.$store.dispatch('getRoom');
      this.$store.commit("setLoginError", false);
    } else router.push('/');
  },
}
</script>

<style>
</style>