<template>
  <div id="app">
    <Menu></Menu>
    <CreateRoom/>
    <router-view></router-view>
  </div>
</template>
<script>

import store from "./state";
import Menu from "./components/Menu";
import CreateRoom from "./components/CreateHome";

export default {
  components: {Menu, CreateRoom},
  computed: {
    user() {
      return this.$store.state.user;
    },
  },

  mounted() {
    const token = localStorage.getItem('token');
    if (token) {
      store.commit('setToken', token);
      store.commit('setLoggedIn', true);
    }
    this.$store.dispatch('getUser')
  }
};
</script>